<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds">

    <!-- appender标签定义日志的输出形式 此标签不唯一-->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="permission" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/permission.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${catalina.home}/logs/permission.%d{yyyy-MM-dd}.log.gz</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout" >-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!--&lt;!&ndash; logger标签，可以由用户定义日志的输出，也可为每一个logger指定一个appender 此标签不唯一&ndash;&gt;-->
    <!--<logger name="permissionLogger" level="INFO">-->
        <!--<appender-ref ref="permission" />-->
    <!--</logger>-->

    <!-- root标签，定义了日志的输出级别 此标签唯一 -->
    <!-- 日志级别 ERROR > WARN > INFO > DEBUG > TRACE -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>